$light-gray: #949494;
$tan: #947d6e;
/* Spotify Style Image Offset */

.SA-img-container {
    background-color: rgba(0,0,0,0);
    margin-bottom: 30px;
    padding-top: 24px;
    overflow: hidden;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 200px;
    position: relative;

    
    a{
        color:#fff;
        z-index: 2;
        &:hover, &:active, &:focus{
            text-decoration: none;
            border-bottom: 1px solid #fff;
            color: #fff;
            -webkit-transition: $ease;
            transition: $ease;
        }
    }
    h3{
        font-size: 1.3em;
        font-weight: 600;
        color: #000;
        background-color: $scarlet-red;
        margin-left: -20px;
        padding-left: 10px;
        z-index: 2;
        padding-top: 5px;
        padding-bottom: 5px;  
        
        &:hover, &:active, &:focus{
            background-color: $scarlet-hover-color;
            -webkit-transition: $ease;
            transition: $ease;
        }
    }
    p{
        font-size: $nav-font-size;
        color: #000;
        margin-right: 10px;
        z-index: 2;
    }
    img{
        float: left;
        z-index: 1;
        margin: 0 auto;
        background-size: cover;
        position: absolute;
        top: -12px;
        background-position: center center;

        &:hover, &:active, &:focus{
            -webkit-transition: $ease;
            transition: $ease;
            opacity: .9;
        }
    }
}

.SA-img-text-content {
    margin-left: 260px;
    z-index: 2;
}

.item-bg {
    position: absolute;
    height: 100%;
    width: 95%;
    background-color: #e0e0e0;
    z-index: -2;
    margin-top: 24px;
    top: 0;
    right: 0;
  }
@media all and (max-width: 455px){
    .SA-img-container {
        padding: 0;
        height: auto;
        background-color: #e0e0e0;
        min-height: auto;
        a{
            color:#000;
            &:hover, &:active, &:focus{
                text-decoration: none;
                border-bottom: 1px solid #000;
                color: #000;
            }
        }

        h3{
            padding-left: 35px;
            background: none;
            color: #000;
        }
        p{
            padding-left: 15px;
        }
        img{
            display: none;  
        }
    }

    .SA-img-text-content {
        margin-left: 0px;
    }
} 




  /*Info Box Thinner*/
  .SA-info-box-thin{
    img{
        -webkit-transition: $ease;
        transition: $ease;
        border-bottom: 5px solid #8e182e;
    }
    position: relative;
    display: block;
    background: $menu-button-color;
    color: #fff !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 320px;
    margin-bottom: 0px !important;
    overflow: hidden;
    margin-bottom: $mobile-spacing;


    &:hover, &:active, &:focus{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;
        img{
            border-bottom: 5px solid #cc0033;
        }
    }

    h3{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.2em;
    }
    p {
        margin-bottom: 5px;
    }
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
}



/* Info Box no BG */
.SA-info-box-no-bg{
    img{
        -webkit-transition: $ease;
        transition: $ease;
    }

    position: relative;
    display: block;
    color: $scarlet-red !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 320px;
    margin-bottom: 0px !important;
    overflow: hidden;
    margin-bottom: $mobile-spacing;


    &:hover, &:active, &:focus{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;

        -webkit-transition: $ease;
        transition: $ease;
    }

    h3{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.2em;
    }
    p {
        margin-bottom: 5px;
    }
    
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
}

/* make horizontal bar on bottom of img any % modular */
.SA-horizontal-bar {
    background: inherit;
}

.SA-horizontal-bar-fill {
    background: $scarlet-red;
    width: 70%;
    height: 7px;
}

/* Info Box Light Grey no Red border */
.SA-info-box-light-grey{
    img{
        -webkit-transition: $ease;
        transition: $ease;
    }
    
    position: relative;
    display: block;
    background: $light-gray;
    color: #000 !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 330px;
    overflow: hidden;
    margin-bottom: $mobile-spacing;
    &:hover{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
    
    &:hover {
        border-bottom: none !important;
    }

}


/* Info Box Black no Red border */
.SA-info-box-black{
    img{
        -webkit-transition: $ease;
        transition: $ease;
    }

    position: relative;
    display: block;
    background: #000;
    color: #fff !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 330px;
    overflow: hidden;
    margin-bottom: $mobile-spacing;
    &:hover{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
    
    &:hover {
        border-bottom: none !important;
    }

}



/* Info Box White Light Grey Border */
.SA-info-box-light-border{
    img{
        -webkit-transition: $ease;
        transition: $ease;
    }

    position: relative;
    display: block;
    background: #fff;
    color: #000 !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 330px;
    overflow: hidden;
    margin-bottom: $mobile-spacing;

    border-width: 3px;
    border-style: solid;
    border-color: #949494;

    &:hover{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
    
    &:hover {
        border-bottom: none !important;
    }

}



/* Info Box White Dark Grey Border */

.SA-info-box-dark-border{
    img{
        -webkit-transition: $ease;
        transition: $ease;
    }
    
    position: relative;
    display: block;
    background: #fff;
    color: #000 !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 330px;
    overflow: hidden;
    margin-bottom: $mobile-spacing;

    border-width: 3px;
    border-style: solid;
    border-color: $menu-button-color;

    &:hover{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
    
    &:hover {
        border-bottom: none !important;
    }

}


/* Info Box White Red Border */

.SA-info-box-red-border{
    img{
        -webkit-transition: $ease;
        transition: $ease;
    }
    
    position: relative;
    display: block;
    background: #fff;
    color: #000 !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 330px;
    overflow: hidden;
    margin-bottom: $mobile-spacing;

    border-width: 3px;
    border-style: solid;
    border-color: $scarlet-red;

    &:hover{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
    
    &:hover {
        border-bottom: none !important;
    }

}

/* SA Info Box Tan */
.SA-info-box-tan{
    img{
        -webkit-transition: $ease;
        transition: $ease;
    }

    position: relative;
    display: block;
    background: $tan;
    color: #fff !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 330px;
    overflow: hidden;
    margin-bottom: $mobile-spacing;
    &:hover{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
    
    &:hover {
        border-bottom: none !important;
    }

}

/* Info Box White Tan Border */

.SA-info-box-tan-border{
    img{
        -webkit-transition: $ease;
        transition: $ease;
    }
    
    position: relative;
    display: block;
    background: #fff;
    color: #000 !important;
    -webkit-transition: $ease;
    transition: $ease;
    min-height: 330px;
    overflow: hidden;
    margin-bottom: $mobile-spacing;

    border-width: 3px;
    border-style: solid;
    border-color: $tan;

    &:hover{
        background: $scarlet-red;
        text-decoration: none;
        color: #fff !important;
        border-width: 0px;  
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3,p{
        padding: 0 10px;
        span{
            border-bottom: none;
            &:hover, &:active, &:focus{
                border-bottom: 1px solid #fff;
            }
        }
    }
    
    &:hover {
        border-bottom: none !important;
    }

}


/* Dark Mode Code */
body.dark {
    transition: .5s all;
    background-color: $dark-grey;
    color: #fff;
    a {
      color: #fff;
    }

    .SA-alert {
        a{
            color: inherit;
        }
    }

    .SA-advisory {
        a{
            color: inherit;
        }
    }

    .SA-featured-block {
        background-color: $menu-button-color;
        
        p {
            color: #fff;
        }
    }

    .SA-slider {
        background-color: $menu-button-color;
    }

    .SA-img-container{

        p{
            color: #fff;
        }
        .item-bg{
            background-color: #404040;
        }
    }
    
    .SA-info-box-no-bg {
        color: #fff !important;
    }

    .SA-horizontal-bar-fill {
        background-color: #fff;
    }

  }

  body {
    transition: .5s all;
  }