.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
    }
    
    .thumbnail img{
      width: 100%;
    }
    
    
    .carousel-caption {
        position: left;
        right: 0;
        left: 0 !important;
        z-index: 10;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        color: #fff;
        text-shadow: none !important;
        width: 100%;
        bottom: 0 !important;
        text-align: left !important;
        background: rgba(0, 0, 0, 0.35);
        padding-left: 20px;
    }
    
    
    /* Caption Styles */
    @media screen and (min-width: 768px){
    .carousel-caption {
        right: 0;
        left: 0;
        padding-bottom: 0;
    }
    }
    
    #SA-slider-thumbs .active{
      border: 2px solid #cc0033 !important;
    }
    
    .SA-slider-thumb{
      border: 2px solid #333 !important;
    }
    
    /* text-decoration-color: white; */ 
    .SA-main-content a:hover, .SA-main-content a:target, .SA-main-content a:focus {
      color: #cc0033;
      text-decoration: none;
      border-bottom: 1px solid white;
      
  }

   
   
    